.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    /* flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start; */
   
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 67%);
}
#box2{
    background-color: hsl(60, 89%, 66%);
    align-self: center;
    order: -1;

}
#box3{
    background-color: hsl(120, 73%, 46%);
}
#box4{
    background-color: hsl(207, 100%, 71%);
}