@font-face{
    src: url(fonts/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

h1{
    border: 3px solid hsl(263, 100%, 51%);
    border-radius: 10px;
    font-family: Roboto-Regular, verdana, arial;
}

#p1{
    border-bottom: 3px solid rgb(242, 31, 31);
    border-top: 3px solid rgb(249, 249, 29);
    border-left: 3px dotted rgb(225, 154, 21);
    border-right: 3px dotted rgb(47, 243, 47);

    border-radius: 10px;
    font-family: OpenSans, "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
}

