h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    color: rgb(5, 97, 5);
    background-color: grey;
}
#fruit li::before{
    content: "✓";
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}