body{
    margin: 0;
}
.box{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;

    transform: translateX(100px) rotateZ(35deg);
}
#box1{
    background-color: hsl(120, 100%, 70%);
}
#box2{
    background-color: hsl(0, 100%, 71%);
}
#box3{
    background-color: hsl(216, 100%, 70%);
}

img{
    
    width: 400px;
    transform: rotateX(40deg);
    transform: translateX(70%);
}