
body{
    background-color: black;

}

h1{
    color: white;
}

#p1{
    color: red; 
}
#p2{
    color: orange;
}
#p3{
    color: yellow;
}
#p4{
    color: green;
}

.odd{
    font-size: small;
}

.even{
    font-size: large;
}


